<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col">
        <h1>Lista de propriedades</h1>
        <hr>
    </div>
</div>

<div class="row contanier">
    <div class="col-2"></div>
    <div class="col">
        <div class="row">
            <div    class="col-4 mb-2"
                    *ngFor="let item of properties">
                <div class="card">
                    <app-min-maps [lngLat]="item.lngLat" class="card-img-top"></app-min-maps>
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
